@tailwind base;
@tailwind utilities;


h1 {
  font-size: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.5rem) !important;
  font-weight: bold !important;
  letter-spacing: -1px !important;
}

h2 {
  font-size: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.34rem) !important;
  font-weight: 600 !important;
  letter-spacing: -1px !important;
  color: hsl(var(--color-neutral-600)) !important;
}

h3 {
  font-size: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem) !important;
  font-weight: 600 !important;
  letter-spacing: -1px !important;
  color: hsl(var(--color-neutral-600)) !important;
  left: 16px !important;
  position: relative !important;
}

h3:before {
  content: '' !important;
  display: block !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 3px !important;
  background-color: hsl(var(--brand-color-primary)) !important;
  position: relative !important;
  top: 24px !important;
  left: -15px !important;
}